@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #2e86decf;
    color: #fff;
    height: 100px;
}

nav {
    height: 50px;
    background-color: #0652ddde;
    color: #fff;
}

.bigger-main {
    display: flex;
}

main {
    flex: 1;
    min-height: 330px;
    font-size: 40px;
}

.gradient {
    height: 50px;
    background-image: linear-gradient(to bottom, #fff, rgb(72 219 251 / 65%));
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sidebar aside {
    flex: 1;
    background-color: rgb(72 219 251 / 65%);
}

.sidebar section {
    flex: 1;
    background-color: rgb(10 189 227 / 76%);
}

aside {
    background-color: #01a3a4;
    height: 80px;
}

footer {
    background-color: #0652ddde;
    height: 100px;
    color: #fff;
}

@media screen and (max-width: 720px) {
    .bigger-main {
        display: block;
    }
    .sidebar {
        display: block;
    }
    .sidebar aside {
        height: 100px;
    }
    .sidebar section {
        height: 100px;
    }
}